* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

.registrationSplash {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
  justify-content: center;
  
  .registrationHeader {
    font-size: 60px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.2;
    font-weight: bolder;
    color: #3fefad;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    span {
      letter-spacing: 6px;
      color: gray;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .userRegistrationErrors {
    position: absolute;
    bottom: 100px;
    left: 170px;
    color: red;
    ul {
      list-style: none;
      text-align: center;
      margin: auto;
    }
  }

  .usernameInput {
      form {
        input {
          padding: 20px;
          background: #F7F7F4;
          border-radius: 6px;
          border: 1px solid transparent;
          text-align: center;
          cursor: pointer;
          color: rgb(119, 119, 119);
        }
        input:hover {
          border: 1px solid #3fefad;
        }

        input:focus {
          border: 1px solid #3fefad;
          background: white;
          outline: 0;
          cursor: text;
        }
      }
    }
  }

.box {
  position: relative;
  margin: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  z-index: 1;
  &.active {
    z-index: 99;
  }
}
.addChatWindowButton {
  position: absolute;
  right: 40px;
  top: 25px;
  button {
    background: white;
    border-radius: 6px;
    width: auto;
    color: gray;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 50px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;
  }

  button:hover {
    color: rgb(109, 231, 230);
    transform: scale(1.03);
  }

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.mainChats {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 800px;
  // https://uigradients.com/#MidnightCity
  background: #0cebeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

$chatWidth: 600px;

.topBar{
  width: $chatWidth;
  height: 20px;
  background: white;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: all-scroll;
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  align-items: center;
  button {
    color: #d4d4d3;
    float: right;
    border: none;
    cursor: pointer;
  }
  button:hover {
    color: #ff0043;
  }
}

.spacer {
  width: 20px;
}

.chatContainer  {
  // border: 1px black solid;
  height: 500px;
  width: $chatWidth;
  min-height: 300px;
  min-width: 250px;
  background: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .chatInterface  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
    padding-top: 15px;

    .messageDisplay {
      height: 510px;
      overflow-y: scroll;
      border-radius: 6px;

      .disconnectMessage {
        color: gray;
        margin-bottom: 15px;
        font-size: 13px;
      }

      div.singleMessage + li.singleMessage.contMessage {
        margin-top: 0;
      }

      .contMessage {
        padding-left: 60px;
        color: dimgray;
        &.other {
          padding-right: 60px;
        }
      }

      .welcomeText {
        color: gray;
        margin-bottom: 15px;
        font-size: 13px;
      }
      
      ul {
        list-style-type: none;
        padding-left: 5px;
      }

      .singleMessage{
        display: flex;
        margin-top: 10px;
        color: dimgrey;

        .messageBody {
          display: flex;
          flex-direction: column;
          .username {
            font-weight: bold;
            display: flex;
            padding-bottom: 6px;

            .timestamp {
              font-size: 13px;
              font-weight: lighter;
              color: #8c8c8c;
              margin-top: 3px;
              margin-left: 5px;
            }

          }
        }
        
        li {
          margin-left: 10px;
        }

        &.other {
          justify-content: flex-end;
          li {
            margin-right: 10px;
            text-align: right;
          }
          .messageBody{
            .username {
              flex-direction: row-reverse;
              .timestamp {
                font-size: 13px;
                font-weight: lighter;
                color: #8c8c8c;
                margin-top: 3px;
                margin-right: 8px;
              }
            }
          }
        }
        img {
          border-radius: 6px;
        }
      }
    }

    .messageInput {
      display: flex;
      border-radius: 6px;

      form {
        display:flex;
        width: 100%;
        padding-bottom: 10px;
        $input-height: 40px;
        height: 60px;
        input:nth-of-type(1) {
          flex: 20;
          padding-left: 10px;
          // padding: 20px;
          background: #F7F7F4;
          border-radius: 6px;
          border: 1px solid transparent;
          color: rgb(119, 119, 119);

          &:hover {
            border: 1px solid #3fefad;
          }

          &:focus {
            outline: 0;
            border: 1px solid #3fefad;
            background-color: white;
          }
        }

        input:nth-of-type(2) {
          flex: 8;
          margin-left: 10px;
          background: #3fefad;
          color: white;
          font-weight: bolder;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          outline: 0;
          transition: ease-in-out 0.2s;
        }
        input:nth-of-type(2):hover {
          background: #28fec6;
        }
      }
    }
    
    .loggedInStatus {
      height: 18px;
      font-size: 13px;
      color: #928c8c;
    }

    .nowTyping  {
      height: 30px;
      color: gray;
      font-size: 15px;
      margin-top: 5px;
    }
  }
}

.logoLinks {
  position: fixed;
  bottom: 40px;
  right: 60px;
  display: flex;
  font-size: 50px;
  width: 100px;
  justify-content: space-between;
  a {
    svg {
      color: white;
      transition: ease-in-out 0.3s;
      &:hover {
        color: rgb(185, 185, 185);
      }
    }
  }
}
