.box {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.mainChats {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 800px;
  // https://uigradients.com/#MidnightCity
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.topBar{
  width: 500px;
  height: 20px;
  background: rgb(99, 99, 99);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  cursor: pointer;
}

.spacer {
  width: 20px;
}

.chatContainer  {
  border: 1px black solid;
  height: 600px;
  width: 500px;
  min-height: 600px;
  min-width: 500px;
  font-family: 'Noto Sans', sans-serif;
  background: white;

  .chatInterface  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    padding-top: 20px;
    height: 100%;

    .messageDisplay {
      height: 510px;
      overflow-y: scroll;
      /* padding-top: 20px; */
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid lightgray;
      border-radius: 4px;
      
      .welcomeText {
        color: gray;
        margin-bottom: 10px;
        font-size: 13px;
      }
      
      ul {
        list-style-type: none;
        padding-left: 5px;
      }

      .singleMessage{
        display: flex;
        margin-bottom: 10px;
        
        .messageBody {
          display: flex;
          flex-direction: column;
          .username {
            font-weight: bold;
            display: flex;

            .timestamp {
              font-size: 13px;
              font-weight: lighter;
              color: #8c8c8c;
              margin-top: 3px;
              margin-left: 5px;
            }

          }
        }
        
        li {
          margin-left: 10px;
        }

        &.other {
          justify-content: flex-end;
          li {
            margin-right: 10px;
            text-align: right;
          }

          .username {
            .timestamp {
              font-size: 13px;
              font-weight: lighter;
              color: #8c8c8c;
              margin-top: 3px;
              margin-right: 5px;
            }
          }
        }
        img {
          border-radius: 2px;
        }
      }
    }

    .messageInput {
      display: flex;
      border-radius: 3px;

      form {
        display:flex;
        width: 100%;
        padding-bottom: 10px;
        $input-height: 40px;
        input:nth-of-type(1) {
          flex: 20;
          padding-left: 5px;
          height: $input-height;
        }

        input:nth-of-type(2) {
          flex: 4;
          margin-left: 10px;
          height: $input-height;
        }
      }
    }
    
    .loggedInStatus {
      font-size: 13px;
      color: #928c8c;
    }

    .nowTyping  {
      height: 30px;
      color: gray;
      font-size: 15px;
      margin-top: 5px;
    }
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
